main {
    text-align: center;
}
.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(92, 88, 151);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}
input {
    background-color: rgb(218, 233, 255);
}
body {
    background-color: rgb(151, 189, 255);
}

h1{
    
}